.box-title{
    min-height: 33vh;
}

.box-pergunta{
    background-color: var(--bg-color-secondary);
    
}

.form-select{
    height: 8vh;
    
}

.box-section-produto{
    background-color: var(--bg-color-secondary);
    width: 80%;
}

.box-pergunta-prod{
    width: 40%;
    background-color: #A5BBD7;
}


.modal-pergunta-info{
    background-color: var(--bg-color-secondary);
    width: 80%;
}

.modal-pergunta{
    background-color: #A5BBD7;
}

.modal-quant-resp{
    height: 12vh;
}

.box-linha{
    width: 70%;
    height: 6vh;
}

.btn-modal{
    width: 100%;
}

.box-linha{
    height: 20vh;
    width: 100%;
}
